<%- include('./header'); -%>

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Campaigns</title>
    <link rel="stylesheet" href="campaigns.css">
</head>
<body>
    <h1>Helping India's children read</h1>
   <h2>Donate to any of these amazing campaigns today!</h2>
    <div class="campaigns-container">
       
        <div class="campaign-card">
            <img src="https://donateabook.org.in/wp-content/uploads/2024/02/mmm3-600x500.jpg" alt="Campaign 1">
            <div class="book-range">
                <p>Bridge the Knowledge Gap for Tribal Students in Andhra Pradesh</p>
                <span>Goal:200 Books</span>
            </div>
            
        </div>
        <div class="campaign-card">
            <img src="https://donateabook.org.in/wp-content/uploads/2024/01/PHOTO-2022-01-08-10-37-33-1-600x500.jpg" alt="Campaign 2">
             <div class="book-range">
                <p>Support to Provide Street Libraries to Children in Madurai</p>
                
            </div>
        </div>
        <div class="campaign-card">
            <img src="https://donateabook.org.in/wp-content/uploads/2024/02/IMG_20210211_145039-600x500.jpg" alt="Campaign 3">
            <div class="book-range">
                <p>Gift Marathi Books to the Avadi Tribe Children from Yavatmal</p>
            </div>
        </div>
        <div class="campaign-card">
            <img src="https://donateabook.org.in/wp-content/uploads/2024/01/IMG20221221102257-600x500.jpg" alt="Campaign 3">
            <div class="book-range">
                <p>Bringing the Magic of Books to Children from Vulnerable Backgrounds in Jalgaon</p>
            </div>
        </div>
        <div class="campaign-card">
            <img src="https://donateabook.org.in/wp-content/uploads/2024/01/Picture-reading-600x500.jpg" alt="Campaign 3">
             <div class="book-range">
                <p>Bridging Worlds Through Words: A Language Bridge for Korku Tribal Children in Melghat, Maharashtra</p>
            </div>
        </div>
        <div class="campaign-card">
            <img src="https://donateabook.org.in/wp-content/uploads/2024/01/WhatsApp-Image-2024-01-18-at-9.52.57-AM-600x500.jpeg" alt="Campaign 3">
            <div class="book-range">
                <p>Pages Of Hope – Inclusive Learning Environment Through Storybooks</p>
            </div>
        </div>
        
        <!-- Add more campaign cards as needed -->
    </div>
</body>
</html>


<%- include('./footer'); -%>