<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="header.css">
    <title>BOOKSHAREHUB</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>

<nav class="navbar">
    <div class="logo">
        <a href="/" title="Donate Books">
            <img src="https://cdn-icons-png.flaticon.com/128/5443/5443384.png" alt="img">
        </a>
    </div>
    <div class="label">
        <a href="/books">Books</a>
        <a href="/campaigns">Campaigns</a>
    </div>
    <div class="search-bar">
        <div class="search-container">
            <input type="text" placeholder="Search">
            <button type="button" class="search-button">
                <img src="https://cdn-icons-png.flaticon.com/128/7216/7216143.png" alt="Description of the image">
            </button>
        </div>
    </div>
    <div class="icons">
        <a href="/" title="Donate Books" class="donate">
            <img src="https://cdn-icons-png.flaticon.com/128/4277/4277114.png" alt="img">
        </a>
        <a href="/profile" title="Profile" class="profile">
            <img src="https://cdn-icons-png.flaticon.com/128/1077/1077012.png" alt="img">
        </a>
        <a href="/cart" title="Cart" class="cart-icon">
            <img src="https://cdn-icons-png.flaticon.com/128/891/891462.png" alt="Cart">
        </a>
        
    </div>
    <div>
        <a href="/" class="logout">Logout</a>
    </div>
    
    
</nav>


