<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BOOKSHAREHUB</title>
    <link  href="main.css" rel="stylesheet">
</head>
<body>
    <div class='outlock'>
                
        <ul>
            <li class='vam'>BOOKSHAREHUB</li>
            <li class='si'>
                <a href='/signup'>Sign Up</a>
            </li>
        </ul>
        <div class="book">
            <h2>"Books have a life beyond your shelf. "</h2>
        <h4>Donate and let the adventure continue.</h4>
        <br></br>
        <a href='/login' class='vamsi'>Donate</a>
        </div>
        
        
</div>
</body>
</html>